// .babelrc
{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "fileName": true, //코드가 포함된 파일명을 알려줌
        "displayName": true, //클래스명에 해당 스타일 정보 추가
        "pure": true, //사용하지 않은 속성 제거
        "ssr": true //클라이언트 측에서 구성 요소를 동적으로 로드하려할때 서버 렌더링을 비활성화할 수 있음
      }
    ]
  ]
}
